.cont {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Logo {
  height: 10vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}
